/* Header */
.header .navbar .container .logo img{
  width: 20px;
}
.header .navbar .container .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.header .navbar .container .dropdown img{
    width: 25px;
}

.sci i{
color: wheat;
}

/* hero */

.hero .container .carousel .carousel-indicators button{
  width: 10px;
  height: 10px;
  background: 0;
  border: 2px solid #fff;
  border-radius: 50%;
}
.hero .container .carousel .carousel-indicators button.active{
  width: 12px;
  height: 12px;
  background: #fff;

}

.hero .container .carousel .carousel-inner .carousel-item{
  height: 500px;
}

.hero .container .carousel .carousel-inner .carousel-item img{
  object-fit: cover;
  width: 100%;
  height: 100%;

}











